<div class="container">
    <form (ngSubmit)="agregar()">
        <input class="form-control" type="text" placeholder="Ingresa tu nombre" name="name" [(ngModel)]="item.name">

        <button class="btn btn-warning mt-3" type="submit"> Agregar</button>

    </form>
</div>