<div class="alert alert-warning" role="alert" *ngFor="let item of items">
    {{item.name}} - {{item.id}}
    <div class="float-right" (click)="eliminar(item)">
        <i class="fas fa-trash-alt"></i>
    </div>
    <div class="float-right mx-3" (click)="editar(item)" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-edit"></i>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Editar:</b>{{editaritem.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="agregarItemEditado()">
                    <input class="form-control" type="text" placeholder="Ingresa una tarea" name="name"
                        [(ngModel)]="editaritem.name">
                    <button class="btn btn-warning mt-3" type="submit"> Editar</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>