<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <app-lista></app-lista>
    </div>
    <div class="col-md-6">
      <app-lista-add></app-lista-add>
    </div>
  </div>

</div>

